In [2]:
from selenium import webdriver
import pandas as pd
import numpy as np

In [6]:
driver_path = "/Users/Furkan/Desktop/chromedriver" 
driver = webdriver.Chrome(executable_path=driver_path)

In [7]:
url = 'https://www.whoscored.com/Statistics'
#url = "http://www.google.com/"
driver.get(url)

In [13]:
all_players=driver.find_element_by_xpath('//*[@id="apps"]/dd[2]/a')
all_players.click()

In [23]:
rate_element = driver.find_elements_by_xpath('//*[@id="player-table-statistics-body"]/tr['+str(1)+']/td[13]')

In [24]:
rate_element

In [25]:
rate = [x.text for x in rate_element]

In [26]:
rate

['8.41']

In [27]:
def iteration_scrapping():
    """
    Xpath is very sensitive to current status of a website.
    Before running the code, each Xpath needs to be recalibrated
    
    """
    for i in range(1,11):
        rate_element = driver.find_elements_by_xpath('//*[@id="player-table-statistics-body"]/tr['+str(i)+']/td[13]')
        rate = [x.text for x in rate_element]
        rate_list.append(rate[0])
        player_element = driver.find_elements_by_xpath('/html/body/div[5]/div[3]/div[5]/div[1]/div[3]/div/table/tbody/tr['+str(i)+']/td[1]/a[1]')
        player = [x.text for x in player_element]
        player_list.append(player[0])

#Create 2 lists for ratings and the players        
rate_list = []
player_list = []

#Click on all players tab. This part finds and clicks on a specific div inside the page
all_players=driver.find_element_by_xpath('//*[@id="apps"]/dd[2]/a')
all_players.click()

#Scrape first page. This is a task specific code, it may not be necessary in different projects.
iteration_scrapping()

next_page=driver.find_element_by_xpath('/html/body/div[5]/div[3]/div[5]/div[1]/div[4]/div/dl[2]/dd[3]/a')
next_page.click() 

iteration_scrapping()

#Scrape the rest of the pages (233). Each page has 10 players.
#Sleep s necessary to wait until the page full loaded, otherwise an error will occur
import time

for i in range(1,234): 
    print(i)
    time.sleep(5)
    #click on next page option
    next_page=driver.find_element_by_xpath('/html/body/div[5]/div[3]/div[5]/div[1]/div[4]/div/dl[2]/dd[3]/a')
    next_page.click() 
    iteration_scrapping()

IndexError: list index out of range

In [91]:
len(rate_list), len(player_list)

(2354, 2354)

In [92]:
#A couple of simple data wrangling 
df = pd.DataFrame([player_list,rate_list]).T

df.drop_duplicates(subset=None, keep='first', inplace=True)

df.iloc[1944:,:][0] = df.iloc[1944:,:][0].apply(lambda row : row[5:]) 

df = df.reset_index().drop('index', axis = 1)\
                .rename(columns = {0:'Player', 1:'Rating'})

In [103]:
df.head()

               Player Rating
0       Kylian Mbappé   8.46
1  Zlatan Ibrahimovic   8.41
2  Robert Lewandowski   8.28
3       Jack Grealish   8.11
4          Harry Kane   8.08

In [104]:
import pickle
pickle.dump(df, open( "player_ratings.p", "wb" ) )

In [105]:
pd.read_pickle('player_ratings.p')

                      Player Rating
0              Kylian Mbappé   8.46
1         Zlatan Ibrahimovic   8.41
2         Robert Lewandowski   8.28
3              Jack Grealish   8.11
4                 Harry Kane   8.08
5                     Neymar   7.93
6               Lionel Messi   7.85
7             Erling Haaland   7.83
8              Matheus Cunha   7.79
9           Domenico Berardi   7.72
10             Ángel Jiménez   8.24
11         Cristiano Ronaldo   8.17
12        Nico Schlotterbeck   7.92
13           Andrej Kramaric   7.85
14              Serge Aurier   7.73
15               Andy Delort   7.69
16     Dominic Calvert-Lewin   7.68
17           Bruno Fernandes   7.66
18             Son Heung-Min   7.66
19           Zinedine Ferhat   7.64
20                  Emre Can   7.63
21           James Rodríguez   7.63
22              Mats Hummels   7.62
23              Ben Chilwell   7.61
24            Ángel Di María   7.59
25             Thomas Müller   7.58
26            Joshua Kimmich   7.58
27             Gabriel Jesus   7.57
28             Romain Faivre   7.56
29              Lucas Alario   7.55
...                      ...    ...
2295      Jacob Bruun Larsen   5.82
2296           Dani Escriche   5.79
2297           Philipp Mwene   5.77
2298        Aboubakar Kamara   5.77
2299        Antonio Mazzotta   5.76
2300        Anastasios Donis   5.75
2301            Odion Ighalo   5.74
2302                  Danilo   5.74
2303  Aleksandar Radovanovic   5.72
2304              Koke Vegas   5.68
2305             Marek Rodák   5.65
2306   Lucas Martínez Quarta   5.59
2307                 Nícolas   5.58
2308            Pepe Sanchez   5.56
2309            Marcin Bulka   5.55
2310        Eduardo Henrique   5.55
2311      Ciprian Tatarusanu   5.54
2312              Ozan Kabak   5.54
2313            Eñaut Mendía   5.53
2314             Jeroen Zoet   5.53
2315             Eric Bailly   5.52
2316      Federico Marchetti   5.50
2317       Kepa Arrizabalaga   5.48
2318         Willy Caballero   5.41
2319            Kieran Gibbs   5.38
2320              Arne Maier   5.31
2321           Ralf Fährmann   5.30
2322                  Adrián   5.01
2323          Mitchell Dijks   4.98
2324  Bailey Peacock-Farrell   4.72

[2325 rows x 2 columns]

### Scrape 160k Players

In [ ]:
def player_rating(sira):
    url = 'https://www.whoscored.com/Players/'+ str(i)
    #url = "http://www.google.com/"
    driver.get(url)

    #İlk tablo
    #ilk tablo yani yıl ve maç detaylarının olduğu class burası.
    player_element = driver.find_elements_by_class_name("header-name")
    player = [x.text for x in player_element]
    position_element = driver.find_elements_by_class_name('position-table-entry')
    position = [x.text for x in position_element]
    rating_element = driver.find_elements_by_class_name('rating')
    rating = [x.text for x in rating_element]
    return player, position, rating

In [ ]:
player_dict = {}
for i in range(1,10000):
    if i % 100 == 0: 
        print(i)
    try:
        player, position, rating =  player_rating(i)
        player_dict[player[0]] = dict(zip(position[1:], rating))
    except:
        None

# Data Concat

In [3]:
target = pd.read_pickle('player_ratings.p')
target.shape

(2325, 2)

In [4]:
df = pd.read_csv('players_21.csv')
df.shape

(18944, 106)

In [5]:
df.head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club_name,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,33,1987-06-24,170,72,Argentina,FC Barcelona,...,66+3,65+3,65+3,65+3,66+3,62+3,52+3,52+3,52+3,62+3
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,35,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,54+3,54+3,54+3,61+3
2,200389,https://sofifa.com/player/200389/jan-oblak/210002,J. Oblak,Jan Oblak,27,1993-01-07,188,87,Slovenia,Atlético Madrid,...,32+3,36+3,36+3,36+3,32+3,32+3,33+3,33+3,33+3,32+3
3,188545,https://sofifa.com/player/188545/robert-lewand...,R. Lewandowski,Robert Lewandowski,31,1988-08-21,184,80,Poland,FC Bayern München,...,64+3,65+3,65+3,65+3,64+3,61+3,60+3,60+3,60+3,61+3
4,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Júnior,28,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,67+3,62+3,62+3,62+3,67+3,62+3,49+3,49+3,49+3,62+3

In [204]:
#Exact Name Match
df_concat = pd.merge(df, target, left_on='long_name', right_on = 'Player', how='left')
df_concat1 = df_concat[~df_concat['Player'].isna()]
df_left = df_concat[df_concat['Player'].isna()]
df_left = df_left.iloc[:,:-2]

print('Number of matched players:',len(df_concat1))
print(target.shape[0] - len(df_concat1))
print('Number of players left in main:',len(df_left))
df_concat1 = df_concat1.iloc[:,:-1]
df_temp = pd.merge(df_concat1, target, left_on='Player', right_on = 'Player', how='right',indicator=True)
target_left = df_temp[df_temp['_merge']=='right_only'][['Player','Rating']]

#df_concat1 = df_concat1.iloc[:,:-1]
print('Number of players left in target:',len(target_left))

Number of matched players: 1240
1085
Number of players left in main: 17730
Number of players left in target: 1091

In [209]:
#data çokluyor
pd.concat(g for _, g in target.groupby("Player") if len(g) > 1)

                 Player Rating
1941  Ahmed El Mohamady   6.16
1943  Ahmed El Mohamady   6.15
333      Alex Berenguer   6.97
1606     Alex Berenguer   6.34
346        Alfred Gomis   6.96
...                 ...    ...
796       Thomas Partey   6.70
231       Wesley Fofana   7.07
309       Wesley Fofana   7.00
480       Édouard Mendy   6.86
2271      Édouard Mendy   5.92

[101 rows x 2 columns]

In [207]:
print(target.shape)
print(target.shape[0] - len(df_concat1))
print('Number of players left in target:',len(target_left))

(2325, 2)
1085
Number of players left in target: 1091

In [206]:
dene = pd.merge(df_concat1, target, left_on='Player', right_on = 'Player', how='right',indicator=True)
dene1 = dene[dene['_merge']=='right_only']
dene1

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club_name,...,rdm,rwb,lb,lcb,cb,rcb,rb,Player,Rating,_merge
1292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kylian Mbappé,8.46,right_only
1293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zlatan Ibrahimovic,8.41,right_only
1294,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Neymar,7.93,right_only
1295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lionel Messi,7.85,right_only
1296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matheus Cunha,7.79,right_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Eñaut Mendía,5.53,right_only
2379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Eric Bailly,5.52,right_only
2380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kepa Arrizabalaga,5.48,right_only
2381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Willy Caballero,5.41,right_only
2382,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adrián,5.01,right_only

In [200]:
df_left

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club_name,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,33,1987-06-24,170,72,Argentina,FC Barcelona,...,66+3,65+3,65+3,65+3,66+3,62+3,52+3,52+3,52+3,62+3
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,35,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,54+3,54+3,54+3,61+3
4,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Júnior,28,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,67+3,62+3,62+3,62+3,67+3,62+3,49+3,49+3,49+3,62+3
6,231747,https://sofifa.com/player/231747/kylian-mbappe...,K. Mbappé,Kylian Mbappé Lottin,21,1998-12-20,178,73,France,Paris Saint-Germain,...,67+3,63+3,63+3,63+3,67+3,63+3,55+3,55+3,55+3,63+3
9,212831,https://sofifa.com/player/212831/alisson-ramse...,Alisson,Alisson Ramsés Becker,27,1992-10-02,191,91,Brazil,Liverpool,...,31+3,35+3,35+3,35+3,31+3,30+3,30+3,30+3,30+3,30+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18965,256679,https://sofifa.com/player/256679/kevin-angulo/...,K. Angulo,Kevin Angulo,24,1996-04-13,176,73,Colombia,América de Cali,...,47+2,47+2,47+2,47+2,47+2,47+2,46+2,46+2,46+2,47+2
18966,257710,https://sofifa.com/player/257710/mengxuan-zhan...,Zhang Mengxuan,Mengxuan Zhang,21,1999-04-26,177,70,China PR,Chongqing Dangdai Lifan FC SWM Team,...,42+2,41+2,41+2,41+2,42+2,45+2,47+2,47+2,47+2,45+2
18967,250989,https://sofifa.com/player/250989/zhenghao-wang...,Wang Zhenghao,王政豪,20,2000-06-28,185,74,China PR,Tianjin TEDA FC,...,42+2,42+2,42+2,42+2,42+2,44+2,47+2,47+2,47+2,44+2
18968,257697,https://sofifa.com/player/257697/zitong-chen/2...,Chen Zitong,Zitong Chen,23,1997-02-20,186,80,China PR,Shijiazhuang Ever Bright F.C.,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18969,257936,https://sofifa.com/player/257936/yue-song/210002,Song Yue,Yue Song,28,1991-11-20,185,79,China PR,Tianjin TEDA FC,...,47+0,47+0,47+0,47+0,47+0,47+0,46+1,46+1,46+1,47+0

In [197]:
target.shape

(2325, 2)

In [7]:
# Number of name for a player
count = df_left['long_name'].str.split().apply(len).value_counts()
count.index = count.index.astype(str) + ' words:'
count.sort_index(inplace=True)
count

1 words:     301
2 words:    9599
3 words:    4169
4 words:    3240
5 words:     355
6 words:      56
7 words:       9
8 words:       1
Name: long_name, dtype: int64

In [8]:
# Number of name for a player in target
count = target_left['Player'].str.split().apply(len).value_counts()
count.index = count.index.astype(str) + ' words:'
count.sort_index(inplace=True)
count

1 words:    105
2 words:    937
3 words:     47
4 words:      2
Name: Player, dtype: int64

In [9]:
long_names = df_left["long_name"].str.split(" ", n = -1, expand = True) 
long_names

               0        1       2           3       4     5     6     7
0         Lionel   Andrés   Messi  Cuccittini    None  None  None  None
1      Cristiano  Ronaldo     dos      Santos  Aveiro  None  None  None
4         Neymar       da   Silva      Santos  Júnior  None  None  None
6         Kylian   Mbappé  Lottin        None    None  None  None  None
9        Alisson   Ramsés  Becker        None    None  None  None  None
...          ...      ...     ...         ...     ...   ...   ...   ...
18965      Kevin   Angulo    None        None    None  None  None  None
18966   Mengxuan    Zhang    None        None    None  None  None  None
18967        王政豪     None    None        None    None  None  None  None
18968     Zitong     Chen    None        None    None  None  None  None
18969        Yue     Song    None        None    None  None  None  None

[17730 rows x 8 columns]

In [10]:
player_names = target_left["Player"].str.split(" ", n = -1, expand = True) 
player_names

            0             1     2     3
1292   Kylian        Mbappé  None  None
1293   Zlatan   Ibrahimovic  None  None
1294   Neymar          None  None  None
1295   Lionel         Messi  None  None
1296  Matheus         Cunha  None  None
...       ...           ...   ...   ...
2378    Eñaut        Mendía  None  None
2379     Eric        Bailly  None  None
2380     Kepa  Arrizabalaga  None  None
2381    Willy     Caballero  None  None
2382   Adrián          None  None  None

[1091 rows x 4 columns]

In [12]:
import pandas as pd 
import re
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np
from scipy.sparse import csr_matrix
import sparse_dot_topn.sparse_dot_topn as ct  # Leading Juice for us
import time

In [13]:
def ngrams(string, n=3):
    string = re.sub(r'[,-./]|\sBD',r'', string)
    ngrams = zip(*[string[i:] for i in range(n)])
    return [''.join(ngram) for ngram in ngrams]

In [14]:
# Testing ngrams work for verification
print(target_left['Player'].iloc[0])
ngrams(target_left['Player'].iloc[0])

Kylian Mbappé

['Kyl', 'yli', 'lia', 'ian', 'an ', 'n M', ' Mb', 'Mba', 'bap', 'app', 'ppé']

In [15]:
player_names_df = df_left['long_name']
player_names_df = player_names_df.append(target_left['Player'])
player_names_df =player_names_df.reset_index()[0]

vectorizer = TfidfVectorizer(min_df=1, analyzer=ngrams)
tf_idf_matrix = vectorizer.fit_transform(player_names_df)

In [16]:
def awesome_cossim_top(A, B, ntop, lower_bound=0):
    # force A and B as a CSR matrix.
    # If they have already been CSR, there is no overhead
    A = A.tocsr()
    B = B.tocsr()
    M, _ = A.shape
    _, N = B.shape
 
    idx_dtype = np.int32
 
    nnz_max = M*ntop
 
    indptr = np.zeros(M+1, dtype=idx_dtype)
    indices = np.zeros(nnz_max, dtype=idx_dtype)
    data = np.zeros(nnz_max, dtype=A.dtype)
    ct.sparse_dot_topn(
        M, N, np.asarray(A.indptr, dtype=idx_dtype),
        np.asarray(A.indices, dtype=idx_dtype),
        A.data,
        np.asarray(B.indptr, dtype=idx_dtype),
        np.asarray(B.indices, dtype=idx_dtype),
        B.data,
        ntop,
        lower_bound,
        indptr, indices, data)
    return csr_matrix((data,indices,indptr),shape=(M,N))

In [29]:
#  Top 10 with similarity above 0.8
t1 = time.time()
matches = awesome_cossim_top(tf_idf_matrix, tf_idf_matrix.transpose(), 10, 0.6)
t = time.time()-t1
print("SELFTIMED:", t)

SELFTIMED: 0.4239976406097412

In [18]:
# unpacks the resulting sparse matrix
def get_matches_df(sparse_matrix, name_vector, top=100):
    non_zeros = sparse_matrix.nonzero()
    
    sparserows = non_zeros[0]
    sparsecols = non_zeros[1]
    
    if top:
        nr_matches = top
    else:
        nr_matches = sparsecols.size
    
    left_side = np.empty([nr_matches], dtype=object)
    right_side = np.empty([nr_matches], dtype=object)
    similairity = np.zeros(nr_matches)
    
    for index in range(0, nr_matches):
        left_side[index] = name_vector[sparserows[index]]
        right_side[index] = name_vector[sparsecols[index]]
        similairity[index] = sparse_matrix.data[index]
    
    return pd.DataFrame({'left_side': left_side,
                          'right_side': right_side,
                           'similairity': similairity})

In [165]:
# store the  matches into new dataframe called matched_df
matches_df = get_matches_df(matches, player_names_df, top=19276)
matches_df = matches_df[matches_df['similairity'] < 0.99999] # For removing all exact matches
matches_df = matches_df.loc[matches_df.groupby('right_side')['similairity'].agg(pd.Series.idxmax)]#For get best similarity

In [166]:
left_dict = pd.Series(matches_df.left_side.values,index=matches_df.right_side).to_dict()
target_left['Player_right'] = target_left['Player'].map(left_dict)

In [185]:
#Exact Name Match
df_concat = pd.merge(df_left, target_left, left_on='long_name', right_on = 'Player_right', how='left')
df_concat2 = df_concat[~df_concat['Player'].isna()]
df_left2 = df_concat[df_concat['Player'].isna()]
df_left2 = df_left2.iloc[:,:-3]
#df_concat2 = df_concat2.iloc[:,:-4]
print('Number of matched players:',len(df_concat2))
print('Number of players left in main:',len(df_left2))
df_concat2 = df_concat2.iloc[:,:-2]
df_temp = pd.merge(df_concat2, target_left, left_on='Player', right_on = 'Player', how='right',indicator=True)
target_left2 = df_temp[df_temp['_merge']=='right_only'][['Player','Rating']]
df_concat2 = df_concat2.iloc[:,:-1]
print('Number of players left in target:',len(target_left2))

Number of matched players: 723
Number of players left in main: 17030
Number of players left in target: 369

In [196]:
df_left2

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club_name,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,33,1987-06-24,170,72,Argentina,FC Barcelona,...,66+3,65+3,65+3,65+3,66+3,62+3,52+3,52+3,52+3,62+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Júnior,28,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,67+3,62+3,62+3,62+3,67+3,62+3,49+3,49+3,49+3,62+3
4,212831,https://sofifa.com/player/212831/alisson-ramse...,Alisson,Alisson Ramsés Becker,27,1992-10-02,191,91,Brazil,Liverpool,...,31+3,35+3,35+3,35+3,31+3,30+3,30+3,30+3,30+3,30+3
8,200145,https://sofifa.com/player/200145/carlos-henriq...,Casemiro,Carlos Henrique Venancio Casimiro,28,1992-02-23,185,84,Brazil,Real Madrid,...,80+3,86+3,86+3,86+3,80+3,81+3,86+3,86+3,86+3,81+3
9,210257,https://sofifa.com/player/210257/ederson-santa...,Ederson,Ederson Santana de Moraes,26,1993-08-17,188,86,Brazil,Manchester City,...,37+2,43+2,43+2,43+2,37+2,35+2,35+2,35+2,35+2,35+2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17748,256679,https://sofifa.com/player/256679/kevin-angulo/...,K. Angulo,Kevin Angulo,24,1996-04-13,176,73,Colombia,América de Cali,...,47+2,47+2,47+2,47+2,47+2,47+2,46+2,46+2,46+2,47+2
17749,257710,https://sofifa.com/player/257710/mengxuan-zhan...,Zhang Mengxuan,Mengxuan Zhang,21,1999-04-26,177,70,China PR,Chongqing Dangdai Lifan FC SWM Team,...,42+2,41+2,41+2,41+2,42+2,45+2,47+2,47+2,47+2,45+2
17750,250989,https://sofifa.com/player/250989/zhenghao-wang...,Wang Zhenghao,王政豪,20,2000-06-28,185,74,China PR,Tianjin TEDA FC,...,42+2,42+2,42+2,42+2,42+2,44+2,47+2,47+2,47+2,44+2
17751,257697,https://sofifa.com/player/257697/zitong-chen/2...,Chen Zitong,Zitong Chen,23,1997-02-20,186,80,China PR,Shijiazhuang Ever Bright F.C.,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
17752,257936,https://sofifa.com/player/257936/yue-song/210002,Song Yue,Yue Song,28,1991-11-20,185,79,China PR,Tianjin TEDA FC,...,47+0,47+0,47+0,47+0,47+0,47+0,46+1,46+1,46+1,47+0

In [194]:
target_left2

                  Player Rating Player_left
753               Neymar   7.93         NaN
754         Lionel Messi   7.85         NaN
755        Son Heung-Min   7.66         NaN
756       Ángel Di María   7.59         NaN
757             Angeliño   7.52         NaN
...                  ...    ...         ...
1117        Marcin Bulka   5.55         NaN
1118  Ciprian Tatarusanu   5.54         NaN
1119        Eñaut Mendía   5.53         NaN
1120     Willy Caballero   5.41         NaN
1121              Adrián   5.01         NaN

[369 rows x 3 columns]